main{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:10px;
    text-align: center;
    margin-top: 50px;
}
body{
    background-color: #8bf2d1;
}
header {
    display: flex;flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
nav{
display: flex;
justify-content: center;
}
@media all and (min-width:750px){
    main{
        grid-template-columns: repeat(2,1fr);  
    }
    body{
        background-color: pink;
    }
}
@media all and  (min-width:1200px){
   h1{
       font-size: 70px;
   }
    nav, main{
        font-size: 30px;
    }
    main{
        grid-template-columns: repeat(3,1fr);  
    }
    body{
        background-color: rgb(160, 165, 13);
    }
}